 @import url("https://use.typekit.net/sgv1ema.css");

html, body{
	padding: 0;
	margin: 0;
	background-color: #737796;
}

#icon{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}

#temp{
	text-align: center;
	margin-top: 60px;
	font-family: ff-dax-compact-pro, sans-serif;
	font-weight: 700;
	font-size: 50px;
	color: #F9F9ED;
}

#weather-code{
	text-align: center;
	margin-top: 20px;
	font-family: ff-dax-compact-pro, sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: #F9F9ED;
}

#location{
	text-align: center;
	margin-top: 20px;
	font-family: ff-dax-compact-pro, sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: #F9F9ED;
}